*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

/** boot css **/
.center{
    max-width: 1280px;
    padding: 0 2%;
}
.w33{
    width: 33.3%;
}
.w50{
    width: 50%;
}
.clear{
    clear: both;
}
.left{
    float: left;
}
.right{
    float: right;
}